set $openobserve_rum_query "o2source=browser&o2-api-key=${OPENOBSERVE_RUM_CLIENT_TOKEN}&o2-evp-origin-version=0.3.4&o2-evp-origin=browser&o2-request-id=$request_id&batch_time=$msec&_o2.api=fetch";
set $openobserve_logs_query "o2source=browser&o2-api-key=${OPENOBSERVE_RUM_CLIENT_TOKEN}&o2-evp-origin-version=0.3.4&o2-evp-origin=browser&o2-request-id=$request_id";
